<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.management_platform.mapper.AdminMapper">

    <insert id="insert">
        insert into management_platform.admin_info (admin_username, admin_password, admin_email) values (#{adminUsername},#{adminPassword},#{adminEmail});
    </insert>
    <update id="updateByNameAndEmail">
        update management_platform.admin_info set admin_password=#{adminPassword} where admin_username=#{adminUsername} and admin_email=#{adminEmail}
    </update>
    <update id="updateByUsername">
        update admin_info set admin_email=#{adminEmail},admin_password=#{adminPassword} where admin_username=#{adminUsername}
    </update>
    <select id="selectByAdminUsernameAndAdminPassword"
            resultType="com.example.management_platform.entity.Admin">
        select * from management_platform.admin_info where admin_username=#{adminUsername} and admin_password=#{adminPassword}
    </select>


    <select id="selectById" resultType="com.example.management_platform.entity.Admin">
        select *from admin_info where admin_id=#{id}
    </select>
    <select id="selectByAdminUsername" resultType="com.example.management_platform.entity.Admin">
        select *from admin_info where admin_username=#{adminUsername}
    </select>
</mapper>