<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.management_platform.mapper.ClassMapper">

    <insert id="insert">
        insert into management_platform.class_info (admin_username, class_name, admin_id) values (#{adminUsername},#{className},#{adminId})
    </insert>
    <delete id="deleteById">
    delete from class_info where class_id=#{classId}
    </delete>


    <select id="getClasses" resultType="com.example.management_platform.entity.ClassInfo">
        select *from class_info
    </select>


    <select id="searchByPageAndName" resultType="com.example.management_platform.entity.ClassInfo">
        select *from class_info where class_name like concat('%',#{name},'%')
    </select>
    <select id="selectById" resultType="com.example.management_platform.entity.ClassInfo">
        SELECT class_info.class_name from class_info where class_info.class_id=#{classId}
    </select>

</mapper>