<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.management_platform.mapper.StudentMapper">

    <delete id="deleteByClassId">
        delete from student_info where class_id=#{classId}
    </delete>
    <select id="selectById" resultType="com.example.management_platform.entity.Student">
        select * from student_info where student_id=#{studentId}
    </select>

</mapper>